@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

* {
  margin:0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
  background: #12171c;
  width: 100%; 
  min-height: 100vh; 
  font-family: 'Caladea', serif;
}

.navbar {
  display: flex; 
  flex-direction: row;
  gap: 5vw; 
  padding: 2vh; 
  justify-content: flex-end;
  font-size: 2vw; 
  margin: 2vw; 
  color: #fff; 
  position: relative; 
  z-index: 20;
}

.navbar a::before {
  content: '';
  height: 5px; 
  width: 5px; 
  background: #fff; 
  border-radius: 50%; 
  text-align: center;
  display: block; 
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: #fff; 
}

.navbar a:visited {
  text-decoration: none;
  color: #fff; 
}

#home, #about, #contact {
  width: 100%; 
  height: 100vh; 
  color: #fff; 
  padding: 8vh 8vw;
  position: absolute; 
  top: 0; 
  left: 0;
}

#home {
  display: flex; 
  width: 100%; 
  height: auto; 
  justify-content: center;
  align-items: center;
}

.home-welcome {
  height: 80vh; 
  width: 50%; 
  padding: 10vh 5vw;  
}

.home-welcome h1 {
  font-size: 4vw; 
}

.home-welcome h1:nth-child(3){
  padding-bottom: 2vh; 
}

.home-welcome p {
  font-size: 1.6vw; 
  color: rgba(255, 255, 255, 0.877);
}

.home-welcome a {
  width: 50%; 
  font-size: 1vw;
}

.home-welcome a button {
  padding: 1em; 
  width: inherit; 
  background: #fff; 
  color: black; 
  font-weight: bold; 
  border: none; 
  border-radius: 15px; 
  position: relative; 
  border: black solid 1px; 
  z-index: 1; 
}

.home-welcome a button:hover {
  color: #fff; 
  border: 1px solid #fff; 
  cursor: pointer; 
}

.home-welcome a button:before {
  content: "";
  position: absolute; 
  background: #000; 
  bottom: 0; 
  left: 0; 
  right: 100%; 
  top: 0;  
  transition: right 0.35s ease-in;
  z-index: -1; 
}

.home-welcome a button:hover:before {
  right: 0; 
}

svg  {
  height: 70vh; 
  width: 100%;  
}

#circle path {
  fill: none;
  stroke: white;
  stroke-width: 2; 
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%; 
  animation: fill 3s ease-in forwards;
}

#title path{
  fill: none;
  stroke: white;
  stroke-width: 2; 
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%; 
  animation: titleFill 3s ease-in forwards;  
}

#subtitle path {
  fill: none; 
  animation: subtitleAppear 3.5s ease forwards; 
}

#about h1 {
  font-size: 4vw; 
}

#about {
  width: 100%;
  background: #192027;
}

#about-svg svg {
  width: 10vw; 
  height: auto; 
  top: 25%; 
  left:unset;
  right: 20%;
  fill: none;
  stroke: white;
  stroke-width: 4; 
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%; 
  animation: fill 3s ease-in forwards; 
  position: absolute; 
}

#about p {
  width: 40%; 
  font-size: 2em;
  padding: 3% 0; 
  color: rgb(226, 226, 226);  
}

.services-container {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.services {
  display: flex; 
  flex-direction: column;
 text-align: center;
}

#contact {
  display: flex; 
  flex-direction: column;
  align-items: center;
  background: rgb(26, 44, 150)
}

#contact h1 {
  text-align: center;
  font-size: 3em;   
}

.contact-form {
  display: flex; 
  flex-direction: column ;
  width: 50%; 
}

.contact-form div input{
  width: 100%; 
  margin: 1vh 0; ;
}

textarea {
  width: 100%; 
  margin: 1vh 0; 
}

label, textarea {
  border-radius: 15px;
}

.contact-form label {
  padding: 1vh 1vh 1vh 0; 
}

.contact-form input {
  margin-bottom: 2vh; 
  padding: 1vh; 
}

.contact-form textarea {
  resize: none;
  padding: 1vw; 
}

button {
  margin: 2vw 0; 
  padding: 1.3vh; 
  font-size: 1.4em;
}

@keyframes subtitleAppear {
  from {
    fill: transparent;
  }
  to{
    fill: white; 
  }
}

@keyframes fill {
  
  50% {
    stroke-dashoffset: 0;
    
  }
  100% {
    fill: white; 
  }
}

@keyframes titleFill {
  
  10% {
    fill:transparent;
    stroke-dashoffset: 180%;
  }

  20% {
    stroke-dashoffset: 160%;
  }

  30% {
    stroke-dashoffset: 140%;
  }
  
  40% {
    stroke-dashoffset: 120%;
  }

  50% {
    stroke-dashoffset: 100%;
  }
  
  60% {
    stroke-dashoffset: 80%;
  }
  
  70% {
    stroke-dashoffset: 60%;
  }

  80% {
    stroke-dashoffset: 40%;
  }

  90% {
    stroke-dashoffset: 20%;
  }
  100% {
    fill: white; 
    stroke-dashoffset: 0%;
  }
}