@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

* {
  margin:0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
  background: #12171c;
  width: 100%; 
  min-height: 100vh; 
  font-family: 'Caladea', serif;
}

nav {
  display: flex; 
  flex-direction: row;
  gap: 5vw; 
  padding: 2vh; 
  justify-content: flex-end;
  font-size: 2vw; 
  margin: 2vw; 
  color: #fff; 
  position: relative; 
  z-index: 20;
  transition: 0.3s; 
}

#hamburger-icon{
  display: none;
  margin: auto 0; 
  cursor: pointer; 
}

#hamburger-icon span{
  display: inline-block;
  width: 35px; 
  height: 3px; 
  background-color: #fff; 
  transition: 0.4s; 
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 7vh; 
  left: 0;
  height: 100vh; 
  width: 100vw;  
  background-color: #12171c; 
  color: #fff; 
  z-index: 5;
  overflow: hidden; 
}

.mobile-menu a {
  font-size: 5vh; 
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: #fff; 
  text-decoration: underline;
}

.navbar a:visited {
  text-decoration: none;
  color: #fff; 
}

#home, #contact {
  width: 100%; 
  height: 100vh; 
  color: #fff; 
  padding: 8vh 8vw;
  position: absolute; 
  top: 0; 
  left: 0;
  overflow: hidden; 
}

#about {
  width: 100%; 
  height: 100vh; 
  color: #fff; 
  position: absolute; 
  top: 0; 
  left: 0; 
}

#home {
  display: flex; 
  width: 100%; 
  height: auto; 
  justify-content: center;
  align-items: center;
}

.home-welcome {
  height: 80vh; 
  width: 50%; 
  padding: 10vh 5vw;  
}

.home-welcome h1 {
  font-size: 4vw; 
}

.home-welcome h1:nth-child(3){
  padding-bottom: 2vh; 
}

.home-welcome p {
  font-size: 1.6vw; 
  color: rgba(255, 255, 255, 0.877);
}

.home-welcome a {
  width: 50%; 
  font-size: 1vw;
}

.home-welcome a button, .services-contact a button, .contact-button {
  padding: 1em; 
  width: inherit; 
  background: #fff; 
  color: black; 
  font-weight: bold; 
  border: none; 
  border-radius: 15px; 
  position: relative; 
  border: black solid 1px; 
  z-index: 1; 
}

.home-welcome a button:hover, .services-contact a button:hover, .contact-button:hover {
  color: #fff; 
  border-radius: 15px; 
  cursor: pointer; 
}

.home-welcome a button:before, .services-contact a button:before, .contact-button:before {
  content: "";
  position: absolute; 
  background: #000; 
  bottom: 0; 
  left: 0; 
  right: 100%; 
  top: 0;  
  transition: right 0.35s ease-in;
  z-index: -1; 
}

.home-welcome a button:hover:before, .services-contact a button:hover:before, .contact-button:hover:before {
  right: 0; 
}

.contact-button {
  width: 100%; 
}

svg  {
  height: 70vh; 
  width: 100%;  
}

#circle path {
  fill: none;
  stroke: white;
  stroke-width: 2; 
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%; 
  animation: fill 3s ease-in forwards;
}

#title path{
  fill: none;
  stroke: white;
  stroke-width: 2; 
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%; 
  animation: titleFill 3s ease-in forwards;  
}

#subtitle path {
  fill: none; 
  animation: subtitleAppear 3.5s ease forwards; 
}

#about h1 {
  font-size: 3vw; 
}

#about {
  width: 100%;
  background: #192027;
}

.about {
  padding: 8vh 8vw; 
}

#about p {
  width: 40%; 
  font-size: 1.5em;
  padding: 3% 0; 
  color: rgb(226, 226, 226);  
}

.services-container {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5vh; 
}

.service {
  display: flex; 
  flex-direction: column;
  text-align: center;
  width: auto; 
  height: 100%; 
  position: relative; 
  align-items: center;
}

.service h2 {
  font-weight: bold;
}

.service span {
  font-size: 1.3rem; 
  width: 70%; 
  padding: 1vh 0; 
  
}

#mobile, #frontend, #ideas {
  padding: 6vh 0; 
  width: 40%; 
  height: auto;
}

#smallCog-Outer, #smallCog-Inner {
  animation: rotateSmall 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#largeCog-Outer, #largeCog-Inner {
  animation: rotateLarge 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#principles {
  padding: 8vh 8vw;
  margin-top: 16vh;   
  background: #12171c;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
}

.principles-container {
  width: 100%; 
}

.principle {
  padding-bottom: 10vh; 
}

.principle p {
  width: 100%; 
}

.services-contact {
  background: #192027; 
  text-align: center; 
  height: 50vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;  
}

.services-contact-button {
  width: 30vw;
  background: white; 
  border: none; 
  border-radius: 15px; 
}

.services-contact-button:hover{
  cursor: pointer; 
}

#contact {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  background: #12171c
}

#contact h1 {
  text-align: center;
  font-size: 3em;   
}

.contact-form {
  display: flex; 
  flex-direction: column ;
  width: 50%; 
}

.contact-form div input{
  width: 100%; 
  margin: 1vh 0; ;
}

textarea {
  width: 100%; 
  margin: 1vh 0; 
}

label, textarea {
  border-radius: 15px;
}

.contact-form label {
  padding: 1vh 1vh 1vh 0; 
}

.contact-form input {
  margin-bottom: 2vh; 
  padding: 1vh; 
}

.contact-form textarea {
  resize: none;
  padding: 1vw; 
}

button {
  margin: 2vw 0; 
  padding: 1.3vh; 
  font-size: 1.4em;
}

@keyframes subtitleAppear {
  from {
    fill: transparent;
  }
  to{
    fill: white; 
  }
}

@keyframes fill {
  
  50% {
    stroke-dashoffset: 0;
    
  }
  100% {
    fill: white; 
  }
}

@keyframes titleFill {
  
  10% {
    fill:transparent;
    stroke-dashoffset: 180%;
  }

  20% {
    stroke-dashoffset: 160%;
  }

  30% {
    stroke-dashoffset: 140%;
  }
  
  40% {
    stroke-dashoffset: 120%;
  }

  50% {
    stroke-dashoffset: 100%;
  }
  
  60% {
    stroke-dashoffset: 80%;
  }
  
  70% {
    stroke-dashoffset: 60%;
  }

  80% {
    stroke-dashoffset: 40%;
  }

  90% {
    stroke-dashoffset: 20%;
  }
  100% {
    fill: white; 
    stroke-dashoffset: 0%;
  }
}

@keyframes rotateSmall {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg); 
  }
}

@keyframes rotateLarge {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg); 
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: none; 
  }

  .mobile-menu a {
    margin: 2vh 0; 
  }

  .mobile-menu a:visited {
    text-decoration: none;
    color: #fff; 
  }

  .mobile-menu div svg {
    width: 80%; 
    height: auto; 
    margin: auto; 
  }

  #hamburger-icon{
    display: block; 
    margin-right: 10px; 
  }

  #home {
    flex-direction: column;
  }

  .home-welcome {
    height: 80vh; 
    width: 100%; 
    padding: 3vh 5vw;  
  }
  
  .home-welcome h1 {
    font-size: 11vw; 
  }
  
  .home-welcome p {
    font-size: 5vw; 
  }

  .home-welcome a button { 
    margin-top: 3vh; 
  }
  
  .home-welcome a {
    font-size: 3vw;
  }

  #about {
    overflow-x: hidden; 
  }

  #about h1 {
  font-size:11vw; 
  }

  #about p {
  width: 80%; 
  font-size: 1.5em;
  padding: 3% 0; 
  color: rgb(226, 226, 226);  
  }

  .services-container {
    gap: 10px;
  }

  .service h2 {
    font-size: 1rem;
  font-weight: bold;
  }

  .service span {
  font-size: 1rem; 
  width: 70%; 
  padding: 1vh 0; 
  
  }

  #mobile, #frontend, #ideas { 
    width: 70%; 
  }

  #principles {
  display: flex; 
  flex-direction: column;
  }

  #principles h1 {
    font-size: 5vh;  
    margin-bottom: 3vh; 
  }

  .services-contact {
    padding: 8vh 8vw; 
  }

  .services-contact a button {
   margin-top: 4vh; 
  }

  .contact-form {
    width: 100%; 
  }
}